[Unit]
Description=CLAMIR SCC Util Apply NUC Table

[Service]
Type=oneshot
WorkingDirectory=/home/clamir
ExecStart=/usr/bin/bash -c "/usr/bin/clamir-scc-util-convert-table -o /home/clamir/scc_core_scale_default.dat -i /mnt/mmc/sys/table_fw.nuc && /usr/bin/clamir-scc-util-apply-scale-file -i /home/clamir/scc_core_scale_default.dat"
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
